.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.background::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  /* Specify the background image to be used */
  background-image: url("https://images.unsplash.com/photo-1627483262268-9c2b5b2834b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;

  /* Specify the background image */
  opacity: 0.6;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
}
img {
  max-width: 100%;
}
